
@use "../utils/variables" as *;
@use "../utils/mixin" as *;

// Base
@use "../base/resets" as *;

header {
  position: fixed;
  top: 0;
  width: 1242px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 10px;
  transition: all 0.3s ease-in-out;
  nav {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

header.shrink {
  top: 16px;
  padding: 10px 10px;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
